<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Add account</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">
    <form [formGroup]="form">
      <ion-item-group>
        <ion-item-divider sticky="true" color="light">
          <!-- <ion-label >Account Reference<ion-icon name="alert-circle-sharp" slot="end" (click)="presentPopover($event,'referenceId')"></ion-icon></ion-label> -->
          <ion-label >Account Reference</ion-label>
          
        </ion-item-divider>
        <ion-item>
          <ion-input required type="text" placeholder="Enter Iban/Bban" formControlName="referenceId"></ion-input>
        </ion-item>
    
        <ion-item-divider sticky="true" color="light">
          <ion-label>Access</ion-label>
          <!-- <ion-icon name="alert-circle-sharp" slot="end" (click)="presentPopover($event,'accesses')"></ion-icon> -->
        </ion-item-divider>
        <ion-item>
          <ion-label>Accounts</ion-label>
          <ion-checkbox slot="start" formControlName="account"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Balances</ion-label>
          <ion-checkbox slot="start" formControlName="balance"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox slot="start" formControlName="transaction"></ion-checkbox>
          <ion-label>Transactions</ion-label>
        </ion-item>
      </ion-item-group>
    </form>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [disabled]= "!form.valid" (click)="add()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>