
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Account Initiation Service</ion-title>
    <!-- <ion-buttons slot="start">

        <ion-menu-button menu = "first">  </ion-menu-button>
  

    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >

  <!-- <ion-grid>
    <ion-row class="ion-justify-content-center home-sopra">
      <ion-col size="9" class="ion-text-center">
    <div class="ion-text-center">
      <img src="./assets/image/sbcp_logo.png">
    </div>
  </ion-col>
</ion-row>


    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-col size="9" class="ion-text-center">
        <p>Ready to manage better & simpler your money? Before that you have to give consent on account(s)!</p>
        
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-button expand="block" color="primary" routerLink="/menu/consent/tab/consent">Add Consent</ion-button>
      </ion-col>
    </ion-row>


  </ion-grid> -->

  <ion-card>
    <img src="./assets/image/sbcp_logo.png" />
    <ion-card-header>
      <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
      <ion-card-title>Account Initiation Service</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ready to manage better & simpler your money? Before that you have to give consent on account(s)!</p>
      <ion-item lines="none">
      <ion-icon routerLink="/tabs/tab/consent" slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/tabs/tab/consent">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-content>

