

// ion-card {
//   border: 2px solid white;
//   margin-left: 0;
//   margin-right: 0;
//   transition: all ease-in-out .3s;
// }



ion-item-divider {
  background: #F0F3FA;
  border-top: 1px solid #E5E9EC;
  border-bottom: 0;
  color: #616C82;
 // font-size: .75rem !important;
  font-weight: 600;
  min-height: 2.2rem;
}


.margin{
  margin-left: 20px;
  margin-right: 20px;
}