<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>SEPA PAYMENT</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form  [formGroup]="sepaForm">
   
      

<ion-card >
  
  <!-- <ion-item-divider>
    <ion-label>Execution Details</ion-label>
  </ion-item-divider> -->
  <ion-card-header>
 <ion-card-title> Execution Details</ion-card-title>
</ion-card-header>
 <ion-card-content>
          <ion-item lines="none">
      <!-- <ion-label>Execution Date<ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="start" (click)="presentPopover($event,'executiondate')" size="small"></ion-icon></ion-label> -->
      <ion-label>Execution Date</ion-label>

      <ion-datetime  displayFormat="MM/DD/YYYY" formControlName="sepaexecutiondate" placeholder="select date"></ion-datetime>
    </ion-item>
  
  </ion-card-content>
  </ion-card>
  <ion-button class= "margin" expand="full" shape="round" (click)="forwardSepaPayment()" [disabled]="!sepaForm.valid">Proceed</ion-button>
  <ion-button class= "margin" expand="full" shape="round" fill="outline" (click)="resetForm()">Reset</ion-button>
  </form>
</ion-content>
<!-- <ion-footer class="ion-no-border">
  

    <ion-fab vertical="bottom" horizontal="center">
      <ion-fab-button (click)="forwardSepaPayment()" [disabled] = "!sepaForm.valid">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-footer> -->
 
