<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title [ngClass]="{'periodictitle': paymentType === 'STANDING ORDER PAYMENT'}">{{paymentType}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="ion-text-center">Are you sure to submit the following payment?</p>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">Amount</ion-card-subtitle>
    </ion-card-header>
    <ion-item class="ion-activated" lines="none">
      <ion-label>{{ payment?.instructedAmount?.amount | currency: payment?.instructedAmount?.currency }}</ion-label>
    </ion-item>
  </ion-card>
    
   
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">From</ion-card-subtitle>
    </ion-card-header>
    <ion-item class="ion-activated" lines="none">
      <ion-label>{{ payment?.debtorAccount?.iban }}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">To</ion-card-subtitle>
    </ion-card-header>
    <ion-item class="ion-activated" lines="none">
      <ion-label>{{ payment?.creditorName }}</ion-label>
    </ion-item>
    <ion-item class="ion-activated" lines="none">
      <ion-label>{{ payment?.creditorAccount?.iban }}</ion-label>
    </ion-item>
    <ion-item class="ion-activated" lines="none">
      <ion-label>
        
        <div>{{ payment?.creditorAddress?.buildingNumber }} {{ payment?.creditorAddress?.streetName }} {{ payment?.creditorAddress?.townName }}
          {{ payment?.creditorAddress?.country }}
        </div>
        <div>{{ payment?.creditorAddress?.postCode }}</div>
  
      </ion-label>
    </ion-item>
  </ion-card>


  <ion-card *ngIf="payment?.frequency">
    <ion-card-header>
      <ion-card-subtitle color="secondary">Frequency</ion-card-subtitle>
    </ion-card-header>
    <ion-item class="ion-activated" lines="none">
      <ion-label>{{ payment?.frequency }}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="payment?.dayOfExecution">
    <ion-card-header>
      <ion-card-subtitle color="secondary">Day of execution</ion-card-subtitle>
    </ion-card-header>
    <ion-item class="ion-activated" lines="none">
      <ion-label>{{ payment?.dayOfExecution }}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="payment?.startDate">
    <ion-card-header>
      <ion-card-subtitle color="secondary">Start Date</ion-card-subtitle>
    </ion-card-header>
    <ion-item class="ion-activated" lines="none">
      <ion-label>{{ payment?.startDate }}</ion-label>
    </ion-item>
  </ion-card>


  <ion-card *ngIf="payment?.enddate">
    <ion-card-header>
      <ion-card-subtitle color="secondary">End Date</ion-card-subtitle>
    </ion-card-header>
    <ion-item class="ion-activated" lines="none">
      <ion-label>{{ payment?.enddate }}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="payment?.executionRule">
    <ion-card-header>
      <ion-card-subtitle color="secondary">Execution Rule</ion-card-subtitle>
    </ion-card-header>
    <ion-item class="ion-activated" lines="none">
      <ion-label>{{ payment?.executionRule }}</ion-label>
    </ion-item>
  </ion-card>


  <ion-card *ngIf="payment?.currencyOfTransfer">
    <ion-card-header>
      <ion-card-subtitle color="secondary">Currency Of Transfer</ion-card-subtitle>
    </ion-card-header>
    <ion-item class="ion-activated" lines="none">
      <ion-label>{{ payment?.currencyOfTransfer }}</ion-label>
    </ion-item>
  </ion-card>


  </ion-content>
  <ion-footer class="ion-no-border">
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button (click)="submitPayment()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>

