<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Accounts</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" routerLink="/aspsps">
        <ion-icon slot="end" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment>
      <ion-segment-button value="ALL" checked="checked">
        All
      </ion-segment-button>
      <ion-segment-button value="CACC">
        Checking
      </ion-segment-button>
      <ion-segment-button value="SVGS">
        Savings
      </ion-segment-button>
      <ion-segment-button value="LOAN">
        Loans
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let loop of numbers">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content> -->



<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Accounts</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" routerLink="/aspsps">
        <ion-icon slot="end" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment>
      <ion-segment-button value="ALL" checked="checked">
        All
      </ion-segment-button>
      <ion-segment-button value="CACC">
        Current
      </ion-segment-button>
      <ion-segment-button value="SVGS">
        Savings
      </ion-segment-button>
      <ion-segment-button value="ODFT">
        Overdraft
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let loop of numbers">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
