<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Filter transactions</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <form [formGroup]="form">
      <ion-item>
        <ion-label>Date from</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="dateFrom"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Date to</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="dateTo"></ion-datetime>
      </ion-item>
    </form>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="validate()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>



