p {
    font-size: 2rem;
  }
  
  .amount {
    font-size: 3rem;
    font-weight: 700;
    max-width: 80vw;
    border: 0;
  }
  
  h1{
    font-size: 3rem;
  }
  
  .periodictitle{
font-size: 18px;
  }
 