<ion-header>
  <ion-toolbar color="primary">


      <ion-buttons slot="start">
   <ion-back-button></ion-back-button>

      </ion-buttons>
   
      <ion-title [ngClass]="{'periodictitle': paymentType === 'STANDING ORDER PAYMENT'}">{{paymentType}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-segment  [value]="type" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="CREATE">CREATE</ion-segment-button>
          <ion-segment-button value="DETAILS">DETAILS</ion-segment-button>
          <ion-segment-button value="CANCEL">CANCEL</ion-segment-button>
      </ion-segment>
  </ion-toolbar>
  
</ion-header>
<ion-content *ngIf="type == 'CREATE'">


  
  <form  [formGroup]="createForm">
    <ion-card>

   
    <div class="ion-text-center"> <h2>I want to do a payment of</h2></div>
  
  <div class="ion-text-center" >
  <input required class="amount" currencyMask formControlName="amount" type="tel" placeholder="_ _ _ . _ _"
  [options]="{ prefix: '€ ', align: 'center', decimal: ',', thousands: ' ' }" />
</div>
<br>
</ion-card>
  </form>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="createPayment()" [disabled]="!createForm.valid">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<ion-content *ngIf="type == 'DETAILS'">
  <form  [formGroup]="detailForm">

  
<ion-card>
  
  

<div class="ion-text-center"> <h2>I want to see</h2></div>

      <ion-radio-group required formControlName="detailradio">

        <ion-item>
          <ion-label>Payment status</ion-label>
          <ion-radio value="status" checked></ion-radio>
        </ion-item>
     
        <ion-item>
          <ion-label>Payment details</ion-label>
          <ion-radio value="details" ></ion-radio>
        </ion-item>
 
        </ion-radio-group> 

    <ion-item class="ion-text-center">
    <ion-input  required type="text" placeholder="Enter payment id" formControlName="paymentId">  </ion-input>
  </ion-item>

</ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
    <ion-fab-button (click)="checkStatus()" [disabled]="!detailForm.valid">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </form>

</ion-content>


<ion-content *ngIf="type == 'CANCEL'" >
  
  <form  [formGroup]="cancelForm">
    <ion-card>
    <div class="ion-text-center"> <h2>I want to cancel a payment</h2></div>
    <ion-item class="ion-text-center">
  <ion-input required type="text" placeholder="Enter payment id" formControlName="cancelPaymentId">  </ion-input>
</ion-item>
</ion-card>
  </form>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="cancelPayment()" [disabled]="!cancelForm.valid">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>