// ion-grid {
//   margin-top: 5vh;
// }

// ion-row {
//   height: 25vh;
// }






// .ion-icon-small {
//   height: 15px;
//   width: 15px;
//   padding-bottom: 10px;
  
// }

ion-item-sliding{
  background:  white;
  border-bottom: 1px solid #f2f2f2;
}



ion-item-divider {
  background: #F0F3FA;
  border-top: 1px solid #E5E9EC;
  border-bottom: 0;
  color: #616C82;
 // font-size: .75rem !important;
  font-weight: 600;
  min-height: 2.2rem;
}

// ion-title {
//   font-size: 15px;
// }




img{
  height: 100px;
}