
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Consent Management</ion-title>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>
  

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="9" class="ion-text-center">
    <div class="ion-text-center">
      <img src="./assets/image/sbcp_logo.png">
    </div>
  </ion-col>
</ion-row>


    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-col size="9" class="ion-text-center">
        <p>Ready to manage better & simpler your money? Let's add your consent on your bank account(s) to do so!</p>
        
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="9">
        <ion-button expand="block" color="primary" (click)="checkAndNavigate('particular')">Consent for account</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-justify-content-center">
      <ion-col size="9">
        <ion-button expand="block" color="primary" (click)="checkAndNavigate('all')">Consent for all accounts</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid> -->

  <ion-card>
    <img src="./assets/image/sbcp_logo.png" />
    <ion-card-header>
      <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
      <ion-card-title>Consent Management</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ready to manage better & simpler your money? Before that you have to give consent on account(s)!</p>
    </ion-card-content>
  </ion-card>
  <ion-grid>
  <ion-row>
  <ion-col size="6">
  <ion-card (click)="checkAndNavigate('particular')">


    <ion-card-header>
      
      <ion-card-subtitle><strong>Consent on account</strong></ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card (click)="checkAndNavigate('all')">
      <ion-card-header>
      
        <ion-card-subtitle><strong>Consent on accounts</strong></ion-card-subtitle>
      </ion-card-header>
    
  </ion-card>
</ion-col>
</ion-row>  
</ion-grid>
</ion-content>

