ion-item-group > ion-list-header {
  background: #F0F3FA;
  border-top: 1px solid #E5E9EC;
  border-bottom: 0;
  color: #616C82;
  font-size: .75rem !important;
  font-weight: 600;
  min-height: 2.2rem;
}

ion-item.header {
  --background: #F0F3FA;
  border-top: 1px solid #E5E9EC;
  border-bottom: 0;
  color: #616C82;
  font-size: .75rem;
  font-weight: 600;
}
.item .sc-ion-label-md-h {
  text-overflow: initial;
}

ion-note {
  font-size: 1rem;
}

.total {
  &-label {
    color: #616C82;
    font-size: .75rem;
    text-align: center;
    text-transform: uppercase;
  }
  &-value {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
  }
}
.my-custom-class {
  --background: #e5e5e5;
}