

<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Accounts</ion-title>
        <ion-buttons slot="start">
           
                <ion-menu-button  menu="first"> </ion-menu-button>
            </ion-buttons>
                <!-- <ion-menu-button></ion-menu-button> -->
                <ion-buttons slot="end">
            <ion-button slot="end" fill="clear" (click)="presentAlertConfirm()">
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="tertiary">
        <ion-segment [value]="type" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="ALL">All</ion-segment-button>
            <ion-segment-button value="CACC">Checking</ion-segment-button>
            <ion-segment-button value="ODFT">Overdraft</ion-segment-button>
            <ion-segment-button value="SVGS">Savings</ion-segment-button>
            
        </ion-segment>
    </ion-toolbar>
    
</ion-header>
<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list class="ion-no-padding" *ngIf="!allaccount">
        <ion-grid  class="ion-padding">
            <ion-row>
                <ion-col *ngIf="accounts?.accounts?.length > 0" class="total-label">Total balance</ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="accounts?.accounts?.length > 0" class="total-value">{{ total | currency: 'EUR' }}</ion-col>
            </ion-row>
        </ion-grid>
        <ion-text class="ion-text-center" color="secondary"><h1 *ngIf="accounts?.accounts?.length == 0">No Added Account</h1></ion-text>
        <ion-item-group *ngFor="let account of accounts?.accounts">
            
            <ion-item-sliding>
                <ion-item class="header" lines="none">
                    <ion-label>{{ account?.name }}</ion-label>
                    <ion-label class="ion-text-right ion-padding-end">{{account?.iban}}</ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="danger">
                        <ion-icon slot="icon-only" name="trash-outline" (click)="presentAlertConfirmForDelete()"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>

            <ion-item *ngFor="let balance of account?.balances">
                <ion-label>{{ balance?.balanceType }}</ion-label>
                <ion-note slot="end" [color]="balance?.balanceAmount?.amount > 0 ? 'success' : 'danger'">
                    {{ balance?.balanceAmount.amount | currency: balance?.balanceAmount.currency }}
                </ion-note>
            </ion-item>
             <ion-item (click)="goToTransactions(account)">
                <ion-label>Total</ion-label>
                <ion-note slot="end" [color]="getCurrentAccountBalance(account?.balances) > 0 ? 'success' : 'danger'">
                    {{ getCurrentAccountBalance(account?.balances) | currency: 'EUR' }}
                </ion-note>
            </ion-item> 
        </ion-item-group>
    </ion-list>


<ion-list *ngIf="allaccount">
    <ng-container *ngFor="let account of accounts?.accounts">
    
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle color="secondary">{{ account?.name }}</ion-card-subtitle>
              </ion-card-header>
          <ion-item class="ion-activated" lines="none">
            <ion-label>{{ account?.iban }}</ion-label>
          </ion-item>
        </ion-card>
      </ng-container>
    </ion-list>
</ion-content>
