

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>
    <img src="./assets/image/sbcp_logo.png" />
    <ion-card-header>
    
      <ion-card-title>Authentication Methods</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You will be redirected to your bank's site to authenticate.</p>
        <p>Would you like to continue?</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor = "let scaMethod of scaMethods">
    <ion-item (click)="selectAuthorisation(scaMethod.authenticationMethodId)" class="ion-activated">
      <ion-label>{{scaMethod.authenticationMethodId}}</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
