
 <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Consent Form</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <!-- <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon> -->

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div class="ion-text-center">  <h1 >International Bank Account</h1></div> -->
<ion-list lines="full">
    <form [formGroup]="form">   



      
        <!-- <ion-item>
          <ion-icon  slot="start" name="add-circle" (click)="addAccount()"></ion-icon>
        </ion-item>
            <h1 >International Bank Account</h1>
           -->

           <ion-item-divider *ngIf="popOverAccount.length > 0">
            <ion-label>Account</ion-label>
          </ion-item-divider>
      <!-- <ion-item-divider>
        <ion-icon  slot="start" name="add-circle" (click)="addAccount()"></ion-icon>
          <ion-label><ion-text><h1 >International Bank Account</h1></ion-text> </ion-label>
        </ion-item-divider> -->
        <ion-item-group *ngFor = "let acc of popOverAccount; let i = index">
        <ion-item-sliding >
          <ion-item class="header">
            <ion-label class="ion-text-left ion-padding-end">{{acc?.referenceId}}</ion-label>
            <ion-icon class="ion-icon-small" slot="end" [src]="checkSelected(i) ? './assets/image/drop-up-arrow.svg' : './assets/image/drop-down-arrow.svg'" (click)="expandAccount(i)"></ion-icon>
    
          </ion-item>

          <ion-item-options side="end">
              <ion-item-option color="danger">
                  <ion-icon slot="icon-only" name="trash-outline" (click)="deleteAccount(i,acc.referenceId)"></ion-icon>
              </ion-item-option>
          </ion-item-options>
          <ion-item-options side="start">
            <ion-item-option color="success">
                <ion-icon slot="icon-only" name="create" (click)="editAccount(acc,i)"></ion-icon>
            </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item *ngIf="checkSelected(i)">
                <ion-chip class="myCustomSelect"  color="tertiary" *ngIf="acc.account" small>
              <ion-icon name="checkmark-circle"></ion-icon>
              <ion-label>accounts</ion-label>
            </ion-chip>
            <ion-chip color="tertiary" *ngIf="acc.balance">
              <ion-icon name="checkmark-circle"></ion-icon>
              <ion-label>balances</ion-label>
            </ion-chip>
            <ion-chip color="tertiary" *ngIf="acc.transaction">
              <ion-icon name="checkmark-circle"></ion-icon>
              <ion-label>transactions</ion-label>
            </ion-chip>
      </ion-item>
    </ion-item-group>
   
    <!-- <ion-list-header class="ion-text-capitalize" *ngIf="popOverAccount.length > 0">
      consent nature
    </ion-list-header> -->
    <ion-item-divider *ngIf="popOverAccount.length > 0">
      <ion-label>Consent Nature</ion-label>
    </ion-item-divider>
      <!-- <ion-item *ngIf="popOverAccount.length > 0">
        <ion-label>Valid Until<ion-icon name="alert-circle-sharp" slot="start" (click)="presentPopover($event,'dateValid')" size="small"></ion-icon></ion-label>
        
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="dateValid"></ion-datetime>
      </ion-item> -->
      <ion-item-group>
      <ion-item *ngIf="popOverAccount.length > 0">
        <!-- <ion-label>Recurring access<ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="start" (click)="presentPopover($event,'recurringIndicator')"></ion-icon></ion-label> -->
        <ion-label>Recurring access</ion-label>
        
        <ion-toggle color="primary" formControlName="recurringIndicator"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="popOverAccount.length > 0">
        <!-- <ion-label>Combined service<ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="start" (click)="presentPopover($event,'combinedServiceIndicator')"></ion-icon></ion-label> -->
        <ion-label>Combined service</ion-label>
        
        <ion-toggle color="primary" formControlName="combinedServiceIndicator"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="popOverAccount.length > 0">
        <!-- <ion-label>FrequencyPerDay </ion-label> -->
        
        <ion-input required type="text" formControlName="frequencyPerDay" placeholder="Frequency per day"></ion-input>
        <!-- <ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="end" (click)="presentPopover($event,'frequencyPerDay')"></ion-icon> -->
      </ion-item>
      <!-- <ion-row>
        <ion-col > -->
          <ion-item *ngIf="popOverAccount.length > 0">
      <!-- <ion-label>Valid Until<ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="start" (click)="presentPopover($event,'dateValid')" size="small"></ion-icon></ion-label> -->
      <ion-label>Valid Until</ion-label>
    <!-- </ion-item> -->
    <!-- </ion-col>
    <ion-col > -->
      <!-- <ion-item *ngIf="popOverAccount.length > 0"> -->
        <ion-datetime required  displayFormat="MM/DD/YYYY" min="2019" formControlName="dateValid" ></ion-datetime>
      </ion-item>
      <!-- <ion-button *ngIf="popOverAccount.length > 0" expand="full" shape="round" (click)="resetForm()">RESET</ion-button> -->
</ion-item-group>
<ion-button *ngIf="popOverAccount.length > 0" class= "margin" expand="full" shape="round" (click)="createConsent()" [disabled]="!form.valid">Proceed</ion-button>
<ion-button *ngIf="popOverAccount.length > 0" class= "margin" expand="full" shape="round" fill="outline" (click)="resetForm()">Reset</ion-button>
    <!-- </ion-col>
    </ion-row> -->
    </form>
  </ion-list>
  <ion-fab edge [vertical]="popOverAccount.length > 0 ? 'top': 'center'" [horizontal]="popOverAccount.length > 0 ? 'end': 'center'" slot="fixed">
    <ion-fab-button (click)="addAccount()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<!-- 
<ion-footer class="ion-no-border">
    
  



  <ion-fab vertical="bottom" horizontal="end" *ngIf="popOverAccount.length > 0">
    <ion-fab-button (click)="createConsent()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer> -->
