

ion-item-sliding{
    background:  white;
    border-bottom: 1px solid #f2f2f2;
  }
  
  
  
  ion-item-divider {
    background: #F0F3FA;
    border-top: 1px solid #E5E9EC;
    border-bottom: 0;
    color: #616C82;
   // font-size: .75rem !important;
    font-weight: 600;
    min-height: 2.2rem;
  }

  .myCustomSelect{
    max-width: 100% !important;
   }


   .ion-icon-small {
size: 5px;
    
  }

  .margin{
    margin-left: 20px;
    margin-right: 20px;
  }