ion-item-divider {
    background: #F0F3FA;
    border-top: 1px solid #E5E9EC;
    border-bottom: 0;
    color: #616C82;
   // font-size: .75rem !important;
    font-weight: 600;
    min-height: 2.2rem;
    text-align: center;
  }

  .myCustomSelect{
    max-width: 100% !important;
   }

   h2 {
    color: #616C82;
    font-size: .8rem;
    font-weight: 600;
    text-align: left;
  }

  .selected {
    border: 2px solid var(--ion-color-primary-tint);
  }


  ion-select {
    /* Applies to the value and placeholder color */
    color: #545ca7;
  
 
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
  }

  .periodictitle{
    font-size: 18px;
      }
     

      .margin{
        margin-left: 20px;
        margin-right: 20px;
      }