<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title [ngClass]="{'periodictitle': paymentType === 'STANDING ORDER PAYMENT'}">{{paymentType}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form  [formGroup]="form">


   

    <ion-card *ngIf= "bgAccounts?.accounts">
      
      <ion-card-header>
       
        <ion-card-title>FROM</ion-card-title>
      </ion-card-header>
      <ion-item [lines]="ibanSelected ? 'full': 'none'">
        <ion-label>Select from Added Accounts</ion-label>
      <ion-select  formControlName="selectediban" slot ="end" class="myCustomSelect" 
      interface="action-sheet"  okText="Okay" cancelText="Dismiss" (ionChange)="ibanSelect($event)">
        <ion-select-option *ngFor="let account of bgAccounts?.accounts" [value]="account?.iban">{{account?.iban}}</ion-select-option>
      </ion-select>
    </ion-item>
        <ion-card>
      
          <ion-card-header *ngIf = "ibanSelected">
             <ion-card-title>{{ibanSelected?.name}}</ion-card-title>
            <ion-card-subtitle>{{ibanSelected?.iban}}</ion-card-subtitle>
            <!-- <ion-card-title>Select from Added Accounts</ion-card-title> -->
          </ion-card-header>
          <ion-item *ngFor="let balance of ibanSelected?.balances">
            <ion-label>{{ balance?.balanceType }}</ion-label>
            <ion-note slot="end" [color]="balance?.balanceAmount?.amount > 0 ? 'success' : 'danger'">
                {{ balance?.balanceAmount.amount | currency: balance?.balanceAmount.currency }}
            </ion-note>
        </ion-item>
        </ion-card>
    </ion-card>


    
<ion-item-divider sticky="true" *ngIf="bgAccounts?.accounts">
<ion-label>OR</ion-label>
</ion-item-divider>

      <ion-card >
        <ion-card-header *ngIf="!bgAccounts?.accounts">
       
          <ion-card-title>FROM</ion-card-title>
        </ion-card-header>
     
        <ion-item>
   
          <ion-input [required]="!isIbanSelected()" type="text" formControlName="periodicaccount" placeholder="Account Reference" [disabled] = " isIbanSelected()"></ion-input>
          <!-- <ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="end" (click)="presentPopover($event,'account')" size="small"></ion-icon> -->
        </ion-item>
      </ion-card>
  
      <ion-button class= "margin" expand="full" shape="round" (click)="proceed()" [disabled]="!form.valid">Proceed</ion-button>
      <ion-button class= "margin" expand="full" shape="round" fill="outline" (click)="resetForm()">Reset</ion-button>
     
  </form>
</ion-content>

  
  

