<ion-header >
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">SopraBanking Login</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
  <ion-grid>

    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-col size="9" class="ion-text-center">
        <div class="ion-text-center">
          <img [src]="'./assets/image/sbcp_logo.png'">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
   
        <ion-item>
          <ion-input required type="text"  placeholder="username or email" formControlName="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [type]="inputType" required placeholder="password" formControlName="password"></ion-input>
          <ion-icon [name]="(inputType == 'password') ? 'eye': 'eye-off'" (click)="inputType = (inputType == 'password') ? 'text' : 'password';"></ion-icon>
        </ion-item>
  

    <ion-row class="ion-justify-content-center">
      <ion-col size="5" class="ion-text-center">
        <ion-button  inputmode="submit"  [disabled]="!form.valid"  (click)="login()" color="primary" routerDirection="root">Login</ion-button>
      </ion-col>
    </ion-row>

    
  
</form>
</ion-content>




