<!-- <ion-header >
  <ion-toolbar color="primary">
    <ion-title >PSD2 compliance services</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"> </ion-menu-button>
 
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-list>
      <ng-container>
      

        <ion-card>
          <ion-item class="ion-activated" lines="none">
            <ion-icon name="wallet-outline" slot="start"></ion-icon>
            <ion-label>Service Account Information</ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
          </ion-item>
        
          <ion-card-content>
            <p >The <b>Account Information Service</b> (AIS) allows a <b>TPP</b> to register the consent of a customer, and access the account information and transaction history of his or her consented checking accounts. The design of these APIs is in accordance with the international Berlin Group NextGenPSD2 standard, version 1.3.</p>
            
          </ion-card-content>
        </ion-card>

        </ng-container>

        
          <ng-container>
          
    
            <ion-card>
              <ion-item class="ion-activated" lines="none">
                <ion-icon name="cash-outline" slot="start"></ion-icon>
                <ion-label>Payment Initiation Service</ion-label>
                <ion-button fill="outline" slot="end">View</ion-button>
              </ion-item>
            
              <ion-card-content>
                <p>The <b>Payment Initiation Service</b> (PIS) allows a <b>TPP</b> to initiate a payment for a customer, retrieve status and details of a specific payment and to delete a payment. The design of these APIs is in accordance with the international Berlin Group NextGenPSD2 standard, version 1.3.</p>
              </ion-card-content>
            </ion-card>
   
            </ng-container>
      </ion-list>  
  </ion-content> -->



  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary" >
        <ion-title class="ion-justify-content-left">PSD2 compliance services</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        
        <!-- <ion-item routerLink="/menu"  tappable routerDirection="root">

          
          <ion-icon name="home" slot="start"></ion-icon>
          Log out
        
      </ion-item> -->
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [class.active-item]="selectedPath.startsWith(p.url)"  [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle >

        <ion-item routerLink="/login"  tappable routerDirection="root">

          
            <ion-icon name="log-out" slot="start"></ion-icon>
            Log out
          
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
