<!-- <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button menu="main-content"></ion-menu-button>
      </ion-buttons>
      <ion-title>first</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
   
  </ion-content> -->



<ion-tabs>
   
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="accounts">
            <ion-icon name="wallet-outline"></ion-icon>
            <ion-label>Accounts</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="card">
            <ion-icon name="card-outline"></ion-icon>
            <ion-label>Card</ion-label>
        </ion-tab-button>
       
            <ion-tab-button tab="consent">
                <ion-fab-button>
                    <ion-icon name="add"></ion-icon>
                  </ion-fab-button>
                <!-- <ion-icon name="wallet-outline"></ion-icon>
                <ion-label>Accounts</ion-label> -->
            </ion-tab-button>

        <ion-tab-button tab="payments">
            <ion-icon name="cash-outline"></ion-icon>
            <ion-label>Payment</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="basket">
            <ion-icon name="cart"></ion-icon>
            <ion-label>Basket</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
