<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">INSTANT PAYMENT</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class = "ion-text-center">
  <ion-list lines="full">
    <form  [formGroup]="instaForm">
  <!-- <ion-grid *ngIf= "allaccount">
    <ion-row class="ion-justify-content-center">
      <ion-col size="9" class="ion-text-center"> 
   
<ion-text> <h1>From Account</h1> </ion-text>
    
      </ion-col>
    </ion-row>

        <ion-item >
          <ion-label>Select from Added Accounts</ion-label>
        <ion-select  formControlName="selectediban" slot ="end" class="myCustomSelect" interface="action-sheet"  okText="Okay" cancelText="Dismiss" placeholder="Select account" (ionChange)="ibanSelect($event)">
          <ion-select-option *ngFor="let account of bgAccounts?.accounts" [value]="account?.iban">{{account?.iban}}</ion-select-option>
      
        </ion-select> 
      </ion-item> -->
    <!-- </ion-col>
  </ion-row> -->
<!-- </ion-grid> -->
  <!-- </ng-container> -->

  <!-- <ion-grid *ngIf= "!allaccount">
    <ion-row >
      <ion-col> 

        <ion-text class="ion-text-center"> <h1>From Account</h1> </ion-text>

      </ion-col>
    </ion-row>
  <ion-row  *ngFor="let account of bgAccounts?.accounts">
    <ion-col>
  <h2 *ngIf = "account?.balances">{{ account?.iban }}</h2>
  <ng-container *ngFor="let balance of account?.balances">
    <ion-card  (click)="selectAccount(account)" [ngClass]="{'selected': selectedAccount?.resourceId === account?.resourceId}">
      <ion-item class="ion-activated" lines="none">
        <ion-label>{{ account?.name }}</ion-label>
        <ion-note slot="end" [color]="balance?.balanceAmount?.amount > 0 ? 'success' : 'danger'">
          {{ balance?.balanceAmount.amount | currency: balance?.balanceAmount.currency }}
        </ion-note>
      </ion-item>
    </ion-card>
  </ng-container>
</ion-col>
  </ion-row>
</ion-grid> -->
  <ion-grid>
    <ion-row >
      <ion-col >
<ion-item-divider *ngIf="bgAccounts">
  <ion-label>OR</ion-label>
</ion-item-divider>
</ion-col>
</ion-row>
<ion-row >
<ion-col >
      
      <ion-item>
        <!-- <ion-label position="stacked">Account Reference</ion-label> -->
        <ion-input [required]="!accountSelected() || !isIbanSelected()" type="text" formControlName="instaaccount" placeholder="Account Reference" [disabled] = "accountSelected() || isIbanSelected()"></ion-input>
        <!-- <ion-icon class = "ion-icon-small" name="alert-circle-sharp" slot="end" (click)="presentPopover($event,'account')" size="small"></ion-icon> -->
      </ion-item>
</ion-col>
</ion-row>
  </ion-grid>
</form>
    </ion-list>
  </ion-content>
  <ion-footer class="ion-no-border">
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button (click)="forwardInstaPayment()" [disabled] = "!instaForm.valid">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
