@font-face {
  font-family: "Baton Turbo";
  src: url('../assets/font/BatonTurboWeb/BatonTurboWeb-Regular.eot');
  src: url('../assets/font/BatonTurboWeb/BatonTurboWeb-Regular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Baton Turbo";
  src: url('../assets/font/BatonTurboWeb/BatonTurboWeb-Book.eot');
  src: url('../assets/font/BatonTurboWeb/BatonTurboWeb-Book.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Baton Turbo";
  src: url('../assets/font/BatonTurboWeb/BatonTurboWeb-Medium.eot');
  src: url('../assets/font/BatonTurboWeb/BatonTurboWeb-Medium.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Baton Turbo";
  src: url('../assets/font/BatonTurboWeb/BatonTurboWeb-Bold.eot');
  src: url('../assets/font/BatonTurboWeb/BatonTurboWeb-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
