ion-title[size='small'] {
  opacity: .7;
  font-weight: 400;
  font-size: .8rem;
}

ion-note {
  font-size: 1rem;
}

ion-item-group > ion-item-divider {
  background: #F0F3FA;
  border-top: 1px solid #E5E9EC;
  border-bottom: 0;
  color: #616C82;
  font-size: .75rem !important;
  font-weight: 600;
  min-height: 2.2rem;
}

.updated {
  height: 1.5rem;
  line-height: 1.5rem;

  div {
    opacity: .7;
    font-size: .75rem !important;
    font-style: italic;
    position: absolute;
    top: -5px;
    right: 16px;
  }
}

.loader {
  height: 200px;
}

.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;

  p {
    opacity: .3;
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
  }
}

ion-avatar {
  width: 20px !important;
  height: 20px !important;
  margin-right: 20px;
}

ion-label p {
  opacity: .6;
  font-size: .7rem;
}
