
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab/accounts"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ bgAccount?.name }}</ion-title>
    <ion-title class="ion-text-center" size="small" *ngIf="bgAccount">
      {{ getBgTotal() | currency: 'EUR' }}
    </ion-title>
    <ion-buttons slot="primary" *ngIf="bgAccount">
      <ion-button fill="clear" (click)="filter(bgAccount)">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="transactionsSorted && transactionsSorted.length > 0" color="primary" class="updated">
    <div class="ion-text-right">Last update {{ getLastUpdate()  | date: 'M/d/yyyy, h:mm a'  }}</div>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar animated="true" (ionChange)="search($event)" placeholder="Search into existing transactions..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list class="ion-no-padding" *ngIf="bgTransactions">
    <ion-item-group>
      <ion-item-divider sticky="true">
        <ion-label>Booked</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let transaction of bgTransactions.booked">
        <ion-avatar>
          <img [src]="'./assets/image/icons/' + getIcon(transaction) + '.png'" alt="Transaction kind">
        </ion-avatar>
        <ion-label>
          <h2>{{ transaction?.entryReference }}</h2>
          <p>{{ transaction?.proprietaryBankTransactionCode }}</p>
        </ion-label>
        <ion-note slot="end" [color]="transaction?.transactionAmount?.amount < 0 ? 'danger' : 'success'">
          {{ transaction?.transactionAmount?.amount | currency: transaction?.transactionAmount?.currency }}
        </ion-note>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="bgTransactions && bgTransactions?.booked.length == 0" class="ion-no-padding empty-list">
    <p>No transaction available<br> for this account</p>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content class="loader" loading-text="Loading more transactions..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
