// p {
//   font-size: 2rem;
// }

// .amount {
//   font-size: 3rem;
//   font-weight: 700;
//   max-width: 80vw;
//   border: 0;
// }

// h1{
//   font-size: 3rem;
// }

// ion-title {
//   font-size: 15px;

// }

ion-button {
  height: 125%;
}


.titleSmallMargin{
  margin-left: 20px;
}

img{
  height: 100px;
}
