<!-- 

<ion-header>
  <ion-toolbar color="primary">
      <ion-title class="ion-text-center">{{paymentType}}</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="first"> </ion-menu-button>
      </ion-buttons>
      <ion-select  slot ="end"  interface="action-sheet" [value]="resetValue()" okText="Okay" cancelText="Dismiss" selectedText=" " (ionChange)="changePaymentType($event)">
        <ion-select-option value="SEPA PAYMENT">SEPA PAYMENT</ion-select-option>
        <ion-select-option value="INTERNATIONAL PAYMENT" >INTERNATIONAL PAYMENT</ion-select-option>
        <ion-select-option value="INSTANT PAYMENT" >INSTANT PAYMENT</ion-select-option>
        <ion-select-option value="STANDING ORDER PAYMENT" >STANDING ORDER PAYMENT</ion-select-option>
        
      </ion-select> 
  </ion-toolbar>
  <ion-toolbar color="tertiary">
      <ion-segment [value]="type" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="create">CREATE</ion-segment-button>
          <ion-segment-button value="status">Details</ion-segment-button>
          <ion-segment-button *ngIf="paymentType != 'INSTANT PAYMENT'" value="cancel">CANCEL</ion-segment-button>
      </ion-segment>
  </ion-toolbar>
  
</ion-header>
<ion-content *ngIf="checkType('create')" >
  <form  [formGroup]="createForm">
    <div class="ion-text-center"> <h2>I want to do a payment of</h2></div>

  <div class="ion-text-center" >
  <input required class="amount" currencyMask formControlName="amount" type="tel" placeholder="_ _ _ . _ _"
  [options]="{ prefix: '€ ', align: 'center', decimal: ',', thousands: ' ' }" />
</div>
  </form>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="createPayment()" [disabled]="!createForm.valid">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content *ngIf="type == 'status' && !hideStatusForm">
  <form  [formGroup]="detailForm">
  <ion-list>
  

<div class="ion-text-center"> <h2>I want to see</h2></div>

      <ion-radio-group required formControlName="detailradio">

        <ion-item>
          <ion-label>Payment status</ion-label>
          <ion-radio value="status" checked></ion-radio>
        </ion-item>
     
        <ion-item>
          <ion-label>Payment details</ion-label>
          <ion-radio value="details" ></ion-radio>
        </ion-item>
 
        </ion-radio-group> 

    <ion-item class="ion-text-center">
    <ion-input  required type="text" placeholder="Enter payment id" formControlName="paymentId">  </ion-input>
  </ion-item>
</ion-list>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
    <ion-fab-button (click)="checkStatus()" [disabled]="!detailForm.valid">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </form>

</ion-content>

<ion-content *ngIf="type == 'status' && showStatusForm">
  
 
      <ion-item>
        <ion-label>{{getStatusPaymentId()}}</ion-label>
        <ion-badge slot="end">{{paymentStatus}}</ion-badge>
      </ion-item>
    
      <ion-fab vertical="center" horizontal="center">
        <ion-fab-button (click)="checkAnotherDetails()">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
   


</ion-content>


<ion-content *ngIf="type == 'status' && showDetails" >
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="secondary">Amount</ion-card-subtitle>
      </ion-card-header>
      <ion-item class="ion-activated" lines="none">
        <ion-label>{{ payment?.instructedAmount?.amount | currency: payment?.instructedAmount?.currency }}</ion-label>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="secondary">Payment Status</ion-card-subtitle>
      </ion-card-header>
      <ion-item class="ion-activated" lines="none">
        <ion-label>{{ payment?.transactionStatus}}</ion-label>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="secondary">From</ion-card-subtitle>
      </ion-card-header>
      <ion-item class="ion-activated" lines="none">
        <ion-label>{{ payment?.debtorAccount?.iban }}</ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="secondary">To</ion-card-subtitle>
      </ion-card-header>
      <ion-item class="ion-activated" lines="none">
        <ion-label>{{ payment?.creditorAccount?.iban }}</ion-label>
      </ion-item>
      <ion-item class="ion-activated" lines="none">
        <ion-label>
          <div>{{ payment?.creditorAddress?.party?.name }}</div>
          <div>{{ payment?.creditorAddress?.party?.postalAddress?.buildingNumber }}</div>
          <div>{{ payment?.creditorAddress?.street }}</div>
          <div>{{ payment?.creditorAddress?.party?.postalAddress?.postalCode }}</div>
          <div>{{ payment?.creditorAddress?.party?.postalAddress?.city }}</div>
          <div>{{ payment?.creditorAddress?.country }}</div>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card *ngIf="payment?.frequency">
      <ion-card-header>
        <ion-card-subtitle color="secondary">Frequency</ion-card-subtitle>
      </ion-card-header>
      <ion-item class="ion-activated" lines="none">
        <ion-label>{{ payment?.frequency }}</ion-label>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="payment?.dayOfExecution" >
      <ion-card-header>
        <ion-card-subtitle color="secondary">Day of execution</ion-card-subtitle>
      </ion-card-header>
      <ion-item class="ion-activated" lines="none">
        <ion-label>{{ payment?.dayOfExecution }}</ion-label>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="payment?.startDate">
      <ion-card-header>
        <ion-card-subtitle color="secondary">Start Date</ion-card-subtitle>
      </ion-card-header>
      <ion-item class="ion-activated" lines="none">
        <ion-label>{{ payment?.startDate }}</ion-label>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="payment?.endDate">
      <ion-card-header>
        <ion-card-subtitle color="secondary">End Date</ion-card-subtitle>
      </ion-card-header>
      <ion-item class="ion-activated" lines="none">
        <ion-label>{{ payment?.endDate }}</ion-label>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="payment?.executionRule">
      <ion-card-header>
        <ion-card-subtitle color="secondary">Execution Rule</ion-card-subtitle>
      </ion-card-header>
      <ion-item class="ion-activated" lines="none">
        <ion-label>{{ payment?.executionRule }}</ion-label>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="payment?.currencyOfTransfer">
      <ion-card-header>
        <ion-card-subtitle color="secondary">Currency Of Transfer</ion-card-subtitle>
      </ion-card-header>
      <ion-item class="ion-activated" lines="none">
        <ion-label>{{ payment?.currencyOfTransfer }}</ion-label>
      </ion-item>
    </ion-card>

  </ion-content>
  <ion-footer class="ion-no-border" *ngIf="type == 'status' && showDetails">
    <ion-fab vertical="bottom" horizontal="center">
      <ion-fab-button (click)="checkAnotherDetails()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-footer>

<ion-content *ngIf="type == 'cancel' && showCancelForm" >
  <form  [formGroup]="cancelForm">
    <div class="ion-text-center"> <h2>I want to cancel a payment</h2></div>
    <ion-item class="ion-text-center">
  <ion-input required type="text" placeholder="Enter payment id" formControlName="cancelPaymentId">  </ion-input>
</ion-item>
  </form>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="cancelPayment()" [disabled]="!cancelForm.valid">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> -->




<!-- <ion-content class="ion-text-center ion-padding-vertical" *ngIf="type == 'cancel' && showCancelDetails">
  
        <div class="ion-text-center">
          <img [src]="'./assets/image/logo.png'">
        </div>
   
    <ion-text>Congratulations!!! Your payment <h5>{{paymentId}}</h5> has been successfully cancelled</ion-text>
  
    <ion-button color="primary" expand="block" (click)="cancelAnotherPayment()" > Cancel Another Payment</ion-button>



</ion-content> -->







<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Payment Initiation Service</ion-title>
    <ion-buttons slot="start">

        <ion-back-button ></ion-back-button>
  

    </ion-buttons>
    <!-- <ion-buttons slot="start">

      <ion-menu-button menu = "first">  </ion-menu-button>


  </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="9" class="ion-text-center">
    <div class="ion-text-center">
      <img src="./assets/image/sbcp_logo.png">
    </div>
  </ion-col>
</ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="9" class="ion-text-center">
        <p> <strong> Please select the type of payment</strong></p>
      
      </ion-col>
    </ion-row>

    
    <ion-row >
      <ion-col>
    
        <ion-item button (click)="proceed('SEPA PAYMENT')" detail>
          <ion-label>
            Sepa Payment
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row >
      <ion-col>
        <ion-item button (click)="proceed('INTERNATIONAL PAYMENT')" detail>
          <ion-label>
            International Payment
          </ion-label>
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>

        <ion-item button (click)="proceed('INSTANT PAYMENT')" detail>
          <ion-label>
            Instant Payment
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row >
      <ion-col>
        <ion-item button (click)="proceed('STANDING ORDER PAYMENT')" detail>
          <ion-label>
            Standing Order Payment
          </ion-label>
        </ion-item>
 
      </ion-col>
    </ion-row>



  </ion-grid> -->



  <ion-card>
    <img src="./assets/image/sbcp_logo.png" />
    <ion-card-header>
     
      <ion-card-title>Payment Initiation Service</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>  Please select the type of payment</p>
    </ion-card-content>
  </ion-card>
  <ion-grid>
  <ion-row>
  <ion-col size="5">
  <ion-card (click)="proceed('SEPA PAYMENT')">


    <ion-card-header>
      
      <ion-card-subtitle><strong>Sepa Payment</strong></ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  </ion-col>
  <ion-col size="7">
    <ion-card (click)="proceed('INTERNATIONAL PAYMENT')">
      <ion-card-header>
      
        <ion-card-subtitle><strong>International Payment</strong></ion-card-subtitle>
      </ion-card-header>
    
  </ion-card>
</ion-col>
</ion-row>  
<ion-row>
  <ion-col size="5">
  <ion-card (click)="proceed('INSTANT PAYMENT')">


    <ion-card-header>
      
      <ion-card-subtitle><strong>Instant Payment</strong></ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  </ion-col>
  <ion-col size="7">
    <ion-card (click)="proceed('STANDING ORDER PAYMENT')">
      <ion-card-header>
      
        <ion-card-subtitle><strong>Standing Order Payment</strong></ion-card-subtitle>
      </ion-card-header>
    
  </ion-card>
</ion-col>
</ion-row> 
</ion-grid>

</ion-content>

