

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <!-- <ion-grid>

    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-col size="9" class="ion-text-center">
        <div class="ion-text-center">
          <img [src]="'./assets/image/sbcp_logo.png'">
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="9">
        <p>You will be redirected to your bank's site to authenticate.</p>
        <p>Would you like to continue?</p>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let scaMethod of scaMethods" class="ion-justify-content-center">
      <ion-col size="8">
        <ion-button expand="block" color="primary" (click)="selectAuthorisation(scaMethod.authenticationMethodId)"  routerDirection="root">{{scaMethod.authenticationMethodId}}</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid> -->



  
  <ion-card>
    <img src="./assets/image/sbcp_logo.png" />
    <ion-card-header>
    
      <ion-card-title>Authentication Methods</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You will be redirected to your bank's site to authenticate.</p>
        <p>Would you like to continue?</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor = "let scaMethod of scaMethods">
    <ion-item (click)="selectAuthorisation(scaMethod.authenticationMethodId)" class="ion-activated">
      <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
      <ion-label>{{scaMethod.authenticationMethodId}}</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
