 <!-- <h1 *ngIf="valueName === 'dateValid'">Valid Until</h1> -->
<ion-content>
  <ion-list lines="none">
    <!-- <ion-list-header *ngIf="valueName === 'dateValid'">Valid Until</ion-list-header> -->
    <ion-item
  *ngIf="valueName === 'dateValid'"><ion-text color="secondary"><h6>This parameter is requesting a valid until date for the requested consent. The content is the local ASPSP date in ISODate Format, e.g. 2017-10-30. If the date is greater than authorized, the consent object to be retrieved by the GET Consent request will contain the adjusted date.</h6></ion-text>
</ion-item>
  <!-- <ion-list-header *ngIf="valueName === 'recurringIndicator'">RecurringIndicator</ion-list-header> -->
  <ion-item *ngIf="valueName === 'recurringIndicator'"><ion-text color="secondary"><h6>true if the consent is for recurring access to the account data, false if the consent is for one access to the account data.</h6></ion-text></ion-item>
  <!-- <ion-list-header *ngIf="valueName === 'combinedServiceIndicator'">CombinedServiceIndicator</ion-list-header> -->
  <ion-item *ngIf="valueName === 'combinedServiceIndicator'"><ion-text color="secondary"><h6>This parameter is requesting a valid until date for the requested consent. The content is the local ASPSP date in ISODate Format, e.g. 2017-10-30. If the date is greater than authorized, the consent object to be retrieved by the GET Consent request will contain the adjusted date.</h6></ion-text></ion-item>
  <!-- <ion-list-header *ngIf="valueName === 'referenceId'">Iban</ion-list-header> -->
  <ion-item *ngIf="valueName === 'referenceId'"><ion-text color="secondary"><h6>The International Bank Account Number.</h6></ion-text></ion-item>
  <!-- <ion-list-header *ngIf="valueName === 'frequencyPerDay'">FrequencyPerDay</ion-list-header> -->
  <ion-item *ngIf="valueName === 'frequencyPerDay'"><ion-text color="secondary"><h6>This field indicates the requested maximum frequency for an access without PSU involvement per day. For a one-off access, this attribute is set to "1". The frequency needs to be greater equal to one. If not otherwise agreed bilaterally between TPP and ASPSP, the frequency is less equal to 4.</h6></ion-text></ion-item>
  <!-- <ion-list-header *ngIf="valueName === 'accounts'">Accounts</ion-list-header> -->
  <ion-item *ngIf="valueName === 'accesses'"><ion-text color="secondary"><h6>Requested access services. The sub attributes with the tags "accounts", "balances" and "transactions" are accepted for this request. At least one tag must be present when it is used.</h6></ion-text></ion-item>
  <!-- <ion-list-header *ngIf="valueName === 'balances'">Balances</ion-list-header> -->
  <ion-item *ngIf="valueName === 'balances'"><ion-text color="secondary"><h6>Is asking for balances of the addressed accounts. If the array is empty, the TPP is asking for the balances of all accessible account lists. This may be restricted in a PSU/ASPSP authorization dialogue. Also if empty, the arrays for accounts or transactions shall be empty, if used.</h6></ion-text></ion-item>
  <!-- <ion-list-header *ngIf="valueName === 'transactions'">Transactions</ion-list-header> -->
  <ion-item *ngIf="valueName === 'transactions'"><ion-text color="secondary"><h6>Is asking for transactions if the addressed accounts. If the array is empty, the TPP is asking for the transactions of all accessible account lists. This may be restricted in a PSU/ASPSP authorization dialogue. Also if empty, the arrays for accounts or balances shall be empty, if used.</h6></ion-text></ion-item>
  <ion-item *ngIf="valueName === 'executiondate'"><ion-text color="secondary"><h6>Requested execution date and time of the payment. This field is not used in v1 release.</h6></ion-text></ion-item>
  <ion-item *ngIf="valueName === 'account'"><ion-text color="secondary"><h6>Ultimate debtor account</h6></ion-text></ion-item>
  <ion-item *ngIf="valueName === 'currencyOfTransfer'"><ion-text color="secondary"><h6>ISO 4217 code. Currency of the Debtor’s Account and to be converted into a different currency.</h6></ion-text></ion-item>
  <ion-item *ngIf="valueName === 'frequency'"><ion-text color="secondary"><h6>Frequency of the recurring payment resulting from this standing order.</h6></ion-text></ion-item>
  <ion-item *ngIf="valueName === 'dayofexecution'"><ion-text color="secondary"><h6>"31" is ultimo.</h6></ion-text></ion-item>
  <ion-item *ngIf="valueName === 'startdate'"><ion-text color="secondary"><h6>The first applicable day of execution starting from this date is the first payment.</h6></ion-text></ion-item>

</ion-list>
</ion-content>
