<ion-app>
  <!-- <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>PSD2 compliance services</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-item button (click)="ais = !ais" [class.active-parent]="ais" detail="false">
          <ion-label>
            <ion-icon name="wallet-outline"></ion-icon>
            Account Information service
          </ion-label>

        </ion-item>
        <ion-menu-toggle>
          <ion-item class="sub-item" *ngIf="ais" [routerLink]="['/consents/specific']" routerDirection="root"
            routerLinkActive="active">

            <ion-label>Add particular account</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="sub-item" *ngIf="ais" [routerLink]="['/consents/all']" routerDirection="root"
            routerLinkActive="active">
            Add all accounts
          </ion-item>
        </ion-menu-toggle>
        <ion-item button (click)="pis = !pis" [class.active-parent]="pis" detail="false">
          <ion-label>
            <ion-icon name="card-outline"></ion-icon>
            Payment Initiation Service
          </ion-label>

        </ion-item>
        <ion-menu-toggle>
          <ion-item class="sub-item" *ngIf="pis" [routerLink]="['/tabs/tab/payments']" [queryParams]="{ paymentType: 'SEPA PAYMENT' }" routerDirection="root"
            routerLinkActive="active">

            <ion-label>Sepa Payment</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="sub-item" *ngIf="pis" [routerLink]="['/tabs/tab/payments']" [queryParams]="{ paymentType: 'STANDING ORDER PAYMENT' }" routerDirection="root"
            routerLinkActive="active">
            Standing order payment
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="sub-item" *ngIf="pis" [routerLink]="['/tabs/tab/payments']" [queryParams]="{ paymentType: 'INTERNATIONAL PAYMENT' }" routerDirection="root"
            routerLinkActive="active">
            International Payment
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="sub-item" *ngIf="pis" [routerLink]="['/tabs/tab/payments']" [queryParams]="{ paymentType: 'INSTANT PAYMENT' }" routerDirection="root"
            routerLinkActive="active">
            Instant Payment
          </ion-item>
        </ion-menu-toggle>

        <ion-item button (click)="cis = !cis" [class.active-parent]="cis" detail="false">
          <ion-label>
            <ion-icon name="card-outline"></ion-icon>
            Card Inititaion Service
          </ion-label>

        </ion-item>
        <ion-menu-toggle>
          <ion-item class="sub-item" *ngIf="cis" [routerLink]="['/payments']" [queryParams]="{ path: 'cardbalance' }"
            routerDirection="root" routerLinkActive="active">

            <ion-label>Card balance</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item button (click)="sbm = !sbm" [class.active-parent]="sbm" detail="false">
          <ion-label>
            <ion-icon name="cart-outline"></ion-icon>
            Service Basket Management
          </ion-label>

        </ion-item>
        <ion-menu-toggle>
          <ion-item class="sub-item" *ngIf="sbm" [routerLink]="['/consents/specific']" routerDirection="root"
            routerLinkActive="active">

            <ion-label>Basket payment</ion-label>
          </ion-item>
        </ion-menu-toggle>


        <ion-menu-toggle>
          <ion-item [routerLink]="['/consents/specific']" routerDirection="root" routerLinkActive="active">
            <ion-label>
              <ion-icon name="power"></ion-icon>
              Log out
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu> -->
  <!-- <ion-router-outlet id="main"></ion-router-outlet> -->
  <ion-router-outlet></ion-router-outlet>
</ion-app>