<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title [ngClass]="{'periodictitle': paymentType === 'STANDING ORDER PAYMENT'}">{{paymentType}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
      <!-- <ion-row >
            <ion-col > 
         
              <ion-item-divider sticky="true">
                <ion-label class="aligncenter">To Account</ion-label>
                </ion-item-divider> 
          
            </ion-col>
          </ion-row> -->

  <form [formGroup]="form">
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle></ion-card-subtitle> -->
        <ion-card-title>TO ACCOUNT</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="full">
     
          <ion-item formGroupName="party">
            
            <ion-input required type="text" formControlName="name" placeholder="Name"></ion-input>
          </ion-item>
           
          <ion-item>
            
            <ion-input required type="text" formControlName="bgAccount" placeholder="Account Reference"></ion-input>
          </ion-item>
      
          <ng-container formGroupName="party">
            <ion-item lines="none" formGroupName="postalAddress">
              <ion-label position="stacked">Postal Address</ion-label>
              <ion-input formControlName="buildingNumber" placeholder="Address Line 1"></ion-input>
              <ion-input formControlName="street" placeholder="Address Line 2"></ion-input>
              <ion-input formControlName="postalCode" placeholder="Zip Code"></ion-input>
              <ion-input formControlName="city" placeholder="City"></ion-input>
              <ion-select  formControlName="countryCode" interface="action-sheet"  okText="Okay" cancelText="Dismiss" placeholder="Country">
                <ion-select-option value="BE">Belgium</ion-select-option>
                <ion-select-option value="FR" >France</ion-select-option>
              </ion-select>
            </ion-item>
          </ng-container>
     
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-button class= "margin" expand="full" shape="round" (click)="nextStep()" [disabled]="!form.valid">Proceed</ion-button>
    <ion-button class= "margin" expand="full" shape="round" fill="outline" (click)="resetForm()">Reset</ion-button>

    <!-- <ion-fab vertical="bottom" horizontal="center">
      <ion-fab-button (click)="nextStep()" [disabled]="!form.valid">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  </form>

</ion-content>
