
<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Sepa Payment</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button fill="clear" [routerLink]="['/tabs/tab/payments']">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>

</ion-header> 
<ion-content>
  
 
  <ion-item>
    <ion-label>{{paymentId}}</ion-label>
    <ion-badge slot="end">{{paymentStatus}}</ion-badge>
  </ion-item>

  <!-- <ion-fab vertical="center" horizontal="center">
    <ion-fab-button (click)="checkAnotherDetails()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->



</ion-content>