<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">SopraBanking Signup</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="consent">
  <form [formGroup]="form">
  <ion-grid>

    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-col size="9" class="ion-text-center">
        <div class="ion-text-center">
          <img [src]="'./assets/image/sbcp_logo.png'">
        </div>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col>
        <ion-item>
          <ion-input required inputmode="text" placeholder="username" formControlName="username"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
    <ion-col >
      <ion-item>
        <ion-input required type="email" placeholder="email" formControlName="email"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
    <ion-row >
      <ion-col >
        <ion-item>
          <ion-input [type]="inputType" required placeholder="password" formControlName="password"></ion-input>
          <ion-icon [name]="(inputType == 'password') ? 'eye': 'eye-off'" (click)="inputType = (inputType == 'password') ? 'text' : 'password';"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col >
        <ion-item>
          <ion-input [type]="inputConfirmType" required placeholder="password" formControlName="confirmpassword"></ion-input>
          <ion-icon [name]="(inputConfirmType == 'password') ? 'eye': 'eye-off'" (click)="inputConfirmType = (inputConfirmType == 'password') ? 'text' : 'password';"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium">DOB</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" formControlName="dateValid"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-button expand="block" color="primary" (click)="login()" routerDirection="root" [disabled]="!form.valid">Signup</ion-button>
      </ion-col>
    </ion-row>

    
  </ion-grid>
</form>
</ion-content>