<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">INTERNATIONAL PAYMENT</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form  [formGroup]="internationalForm">
  <ion-card >
  

    <ion-card-header>
   <ion-card-title> Execution Details</ion-card-title>
  </ion-card-header>
   <ion-card-content>
    <ion-item >
      
      <ion-label>Execution Date</ion-label>

      <ion-datetime  displayFormat="MM/DD/YYYY" min="2019" formControlName="internationalexecutiondate"></ion-datetime>
    </ion-item>

      <ion-item lines="none">
        <ion-label>Currency Of Transfer</ion-label>

        <ion-select required formControlName="currencyOfTransfer" required interface="action-sheet" value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="USD">USD</ion-select-option>
          <ion-select-option value="EUR">EUR</ion-select-option>
        
        </ion-select>
      
      </ion-item>
    
    </ion-card-content>
    </ion-card>
    <ion-button class= "margin" expand="full" shape="round" (click)="forwardInternationalPayment()" [disabled]="!internationalForm.valid">Proceed</ion-button>
    <ion-button class= "margin" expand="full" shape="round" fill="outline" (click)="resetForm()">Reset</ion-button>
    </form>
</ion-content>

