.ion-icon-small {
    height: 15px;
    width: 15px;
    padding-bottom: 10px;
    
  }

  .selected {
    border: 2px solid var(--ion-color-primary-tint);
  }

  h2 {
    color: #616C82;
    font-size: .8rem;
    font-weight: 600;
    text-align: left;
  }

  .myCustomSelect{
    max-width: 100% !important;
   }
  
ion-item-divider {
  background: #F0F3FA;
  border-top: 1px solid #E5E9EC;
  border-bottom: 0;
  color: #616C82;
 // font-size: .75rem !important;
  font-weight: 600;
  min-height: 2.2rem;
}

// ion-title{
//   font-size: 15px;
// }


.margin{
  margin-left: 20px;
  margin-right: 20px;
}