<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >STANDING ORDER PAYMENT</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form  [formGroup]="periodicForm">
 
<ion-card>
  <ion-card-header>
    
    <ion-card-title>Execution Details</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <!-- <ion-item >
   
      <ion-label >Execution Date</ion-label>

      <ion-datetime  displayFormat="MM/DD/YYYY" min="2019" formControlName="periodicexecutiondate"></ion-datetime>
    </ion-item> -->
      <ion-item>
        <!-- <ion-label>Frequency<ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="end" (click)="presentPopover($event,'frequency')" size="small"></ion-icon></ion-label> -->
        <ion-label>Frequency</ion-label>

        <ion-select required formControlName="frequency" required interface="action-sheet" value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="daily">daily</ion-select-option>
          <ion-select-option value="weekly">weekly</ion-select-option>
          <ion-select-option value="everytwoweeks">everytwoweeks</ion-select-option>
          <ion-select-option value="monthly">monthly</ion-select-option>
          <ion-select-option value="everytwomonths">everytwomonths</ion-select-option>
          <ion-select-option value="quarterly">quarterly</ion-select-option>
          <ion-select-option value="semiannual">semiannual</ion-select-option>
          <ion-select-option value="annual">annual</ion-select-option>
        </ion-select>
        
      </ion-item>
     
        <ion-item>
          <!-- <ion-label>Execution Rule<ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="end" (click)="presentPopover($event,'executionRule')" size="small"></ion-icon></ion-label> -->
          <ion-label>Execution Rule</ion-label>
 
          <ion-select class="myCustomSelect" formControlName="executionRule" interface="action-sheet" value="brown" okText="Okay" cancelText="Dismiss" >
            <ion-select-option value="preeceding">preeceding</ion-select-option>
            <ion-select-option value="following">following</ion-select-option>
          </ion-select>
          
        </ion-item>
      
          <ion-item >
      <!-- <ion-label>Start Date<ion-icon class="ion-icon-small" class="ion-icon-small" name="alert-circle-sharp" slot="start" (click)="presentPopover($event,'startdate')" size="small"></ion-icon></ion-label> -->
      <ion-label>Start Date</ion-label>

      <ion-datetime required displayFormat="MM/DD/YYYY" min="2019" formControlName="startdate" ></ion-datetime>
    </ion-item>
   
        <ion-item >
    <!-- <ion-label>End Date<ion-icon class="ion-icon-small" class="ion-icon-small" name="alert-circle-sharp" slot="start" (click)="presentPopover($event,'enddate')" size="small"></ion-icon></ion-label> -->
    <ion-label>End Date</ion-label>

    <ion-datetime displayFormat="MM/DD/YYYY" min="2019" formControlName="enddate" ></ion-datetime>
  </ion-item>

        <ion-item lines="none">
        
          <ion-input type="text" formControlName="dayOfExecution" placeholder="Day of Execution"></ion-input>
          <!-- <ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="end" (click)="presentPopover($event,'dayofexecution')" size="small"></ion-icon> -->
        </ion-item>
  
  </ion-card-content>
</ion-card>
<ion-button class= "margin" expand="full" shape="round" (click)="forwardPeriodicPayment()" [disabled]="!periodicForm.valid">Proceed</ion-button>
<ion-button class= "margin" expand="full" shape="round" fill="outline" (click)="resetForm()">Reset</ion-button>

  
  </form>
</ion-content>
<!-- <ion-footer class="ion-no-border">
  

  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button (click)="forwardPeriodicPayment()" [disabled] = "!periodicForm.valid">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer> -->
