<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-button fill="clear" [routerLink]="['/tabs/tab/payments']">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title [ngClass]="{'periodictitle': paymentType === 'STANDING ORDER PAYMENT'}">{{paymentType}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center ion-padding-vertical">


      <ion-card>
        <ion-card-header>
       
          <ion-card-title>Congratulations!!! Your payment <h5>{{paymentId}}</h5> has been successfully <span *ngIf="!deletepayment">submitted</span> <span *ngIf="deletepayment">cancelled</span></ion-card-title>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>  
    
      <ion-button class= "margin" expand="full" shape="round" (click) = "checkDetails()">Check Details</ion-button>
      <ion-button class= "margin" expand="full" shape="round" fill="outline" [routerLink]="['/tabs/tab/payments']">Home Page</ion-button>


</ion-content>