<ion-header >
  <ion-toolbar color="primary">
    <ion-title >PSD2 compliance services</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"> </ion-menu-button>
 
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-list>
      <ng-container>
      

        <ion-card [routerLink]="['/menu/accounts']" routerLinkActive="forward" >
          <ion-item class="ion-activated" lines="none">
            <ion-icon name="wallet-outline" slot="start"></ion-icon>
            <ion-label color="secondary">Service Account Information</ion-label>
            <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
          </ion-item>
        
          <ion-card-content>
            <p >The <b>Account Information Service</b> (AIS) allows a <b>TPP</b> to register the consent of a customer, and access the account information and transaction history of his or her consented checking accounts. The design of these APIs is in accordance with the international Berlin Group NextGenPSD2 standard, version 1.3.</p>
            
          </ion-card-content>
        </ion-card>

        </ng-container>

        
          <ng-container>
          
    
            <ion-card [routerLink]="['/menu/payments/tab/payments']" routerLinkActive="forward">
              <ion-item class="ion-activated" lines="none">
                <ion-icon name="cash-outline" slot="start"></ion-icon>
                <ion-label color="secondary">Payment Initiation Service</ion-label>
                <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
              </ion-item>
            
              <ion-card-content>
                <p>The <b>Payment Initiation Service</b> (PIS) allows a <b>TPP</b> to initiate a payment for a customer, retrieve status and details of a specific payment and to delete a payment. The design of these APIs is in accordance with the international Berlin Group NextGenPSD2 standard, version 1.3.</p>
              </ion-card-content>
            </ion-card>
            <!-- </ion-card>
              <ion-card>
                  <ion-card-header>
                      <ion-card-subtitle color="secondary">Service Account Information</ion-card-subtitle>
                    </ion-card-header>
                <ion-item class="ion-activated" lines="none">
                  <ion-label>{{ account?.iban }}</ion-label>
                </ion-item>
              </ion-card> -->
            </ng-container>
      </ion-list>  
  </ion-content>