
ion-slide{
  padding: 40px 10px;
  display: block;
  height: 50%;
}

ion-button {
  --border-radius: 9px;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.login {
  text-align: center;
  font-size: 12px;
  margin-top: 16px;

}
.ripple-parent {
  position: relative;
  overflow: hidden;
}


.bottomRow{
  margin-top: -20px;
}

// p{
//   font-size: 15px;
// }