<ion-content class="ion-justify-content-center">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="9" class="ion-text-center">
   
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
      <img src="./assets/image/dxp-psd2-aspsp.png" alt="Digital Experience Platform">
      <h2>Service Account Initiation</h2>
            <p >The <b>Account Information Service</b> (AIS) allows a <b>TPP</b> to register the consent of a customer, and access the account information and transaction history of his or her consented checking accounts. The design of these APIs is in accordance with the international Berlin Group NextGenPSD2 standard, version 1.3.</p>
    </ion-slide>
    <ion-slide>
      <img src="./assets/image/dxp-psd2-aspsp.png" alt="Digital Experience Platform">
      <h2>Service Payment Initiation</h2>
      <p>The <b>Payment Initiation Service</b> (PIS) allows a <b>TPP</b> to initiate a payment for a customer, retrieve status and details of a specific payment and to delete a payment. The design of these APIs is in accordance with the international Berlin Group NextGenPSD2 standard, version 1.3.</p>
    </ion-slide>
    <ion-slide>
      <img src="./assets/image/dxp-psd2-aspsp.png" alt="Digital Experience Platform">
      <h2>Card Initiation Service</h2>
      <p>The <b>Card Initiation Service</b> (CIS) allows a <b>TPP</b> to register the consent of a card, and access the card information and transaction history of his or her consented checking accounts The design of these APIs is in accordance with the international Berlin Group NextGenPSD2 standard, version 1.3.</p>
    </ion-slide>

  </ion-slides>
</ion-col>
</ion-row>

  <ion-row class="ion-justify-content-center">

    <ion-col size="9" class="ion-text-center">
      <ion-button color="primary" (click)="loginWithFB()" disabled>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button color="primary" disabled>
        <ion-icon name="logo-google"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

    <ion-row class="ion-justify-content-center bottomRow">
      <ion-col size="7" class="ion-text-center">
    <ion-text>or</ion-text>
  </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="7" class="ion-text-center">
        <ion-button class="ion-activatable ripple-parent" color="primary" expand="block" [routerLink]="['/signup']" routerLinkActive="router-link-active" > Signup with Email</ion-button>

  </ion-col>
  </ion-row>
    <p class="login">Existing user? <ion-text [routerLink]="['/login']" routerLinkActive="router-link-active" >Login now</ion-text></p>
</ion-grid>
</ion-content>





<!-- <ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="9" class="ion-text-center">
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
      <img src="./assets/image/dxp-psd2-aspsp.png" alt="Digital Experience Platform">
      <h2>Service Account Initiation</h2>
            <p >The <b>Account Information Service</b> (AIS) allows a <b>TPP</b> to register the consent of a customer, and access the account information and transaction history of his or her consented checking accounts. The design of these APIs is in accordance with the international Berlin Group NextGenPSD2 standard, version 1.3.</p>
    </ion-slide>
    <ion-slide>
      <img src="./assets/image/dxp-psd2-aspsp.png" alt="Digital Experience Platform">
      <h2>Service Payment Initiation</h2>
      <p>The <b>Payment Initiation Service</b> (PIS) allows a <b>TPP</b> to initiate a payment for a customer, retrieve status and details of a specific payment and to delete a payment. The design of these APIs is in accordance with the international Berlin Group NextGenPSD2 standard, version 1.3.</p>
    </ion-slide>
    <ion-slide>
      <img src="./assets/image/dxp-psd2-aspsp.png" alt="Digital Experience Platform">
      <h2>Card Initiation Service</h2>
      <p>The <b>Card Initiation Service</b> (CIS) allows a <b>TPP</b> to register the consent of a card, and access the card information and transaction history of his or her consented checking accounts The design of these APIs is in accordance with the international Berlin Group NextGenPSD2 standard, version 1.3.</p>
    </ion-slide>

  </ion-slides>
  </ion-col>
</ion-row>

  <ion-row class="ion-justify-content-center">

      <ion-col size="9" class="ion-text-center">
      <ion-button color="primary" (click)="loginWithFB()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button color="primary">
        <ion-icon name="logo-google"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="7" class="ion-text-center">
    <ion-text>or</ion-text>
  </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="7" class="ion-text-center">
    <ion-button class="ion-activatable ripple-parent" color="primary" expand="block" [routerLink]="['/credential/signup']" routerLinkActive="router-link-active" > Signup with Email</ion-button>

  </ion-col>
  </ion-row>
    <p class="login">Existing user? <ion-text [routerLink]="['/credential']" routerLinkActive="router-link-active" >Login now</ion-text></p>
</ion-grid>
</ion-content> -->
