<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Consent form</ion-title>
  
    <ion-buttons slot="start">
    <ion-menu-button  menu="first"> </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon  slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center ion-padding-vertical">

  <ion-list>
    <form [formGroup]="form">
      <ion-grid>
        <ion-row class="ion-justify-content-center ">
          <ion-col size="7" class="ion-text-center">
            <ion-item>
        <ion-label>Valid Until<ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="start" (click)="presentPopover($event,'dateValid')" size="small"></ion-icon></ion-label>
      </ion-item>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-item >
    
        <ion-datetime displayFormat="MM/DD/YYYY" min="2019" formControlName="dateValid" placeholder="select date"></ion-datetime>
      </ion-item>
      </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ">
        <ion-col size="9" class="ion-text-center">
      <ion-item>
        <ion-label>Recurring access<ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="start" (click)="presentPopover($event,'recurringIndicator')"></ion-icon></ion-label>
        <ion-toggle color="primary" formControlName="recurringIndicator"></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ">
    <ion-col size="9" class="ion-text-center">
      <ion-item>
        <ion-label>Combined service<ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="start" (click)="presentPopover($event,'combinedServiceIndicator')"></ion-icon></ion-label>
        <ion-toggle color="primary" formControlName="combinedServiceIndicator"></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ">
    <ion-col size="9" class="ion-text-center">
      <ion-item>
        <ion-input type="text" formControlName="frequencyPerDay" placeholder="Frequency per day"></ion-input>
        <ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="end" (click)="presentPopover($event,'frequencyPerDay')"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
    </ion-grid>
    </form>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createConsent()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> -->








<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Consent form</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <!-- <ion-button fill="clear" (click)="dismiss()">
        <ion-icon class="ion-icon-large-size" slot="icon-only" name="close-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <form [formGroup]="form">
      
            <ion-item>
     
        <ion-label>Valid Until</ion-label>

    
        <ion-datetime required displayFormat="MM/DD/YYYY" min="2019" formControlName="dateValid"></ion-datetime>
      </ion-item>
      <!-- </ion-col>
      </ion-row> -->

      <ion-item>
        <!-- <ion-label>Recurring access<ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="start" (click)="presentPopover($event,'recurringIndicator')"></ion-icon></ion-label> -->
        <ion-label>Recurring access</ion-label>
        <ion-toggle color="primary" formControlName="recurringIndicator"></ion-toggle>
      </ion-item>
      <ion-item>
        <!-- <ion-label>Combined service<ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="start" (click)="presentPopover($event,'combinedServiceIndicator')"></ion-icon></ion-label> -->
        <ion-label>Combined service</ion-label>
        <ion-toggle color="primary" formControlName="combinedServiceIndicator"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-input required type="text" formControlName="frequencyPerDay" placeholder="Frequency per day"></ion-input>
        <!-- <ion-icon class="ion-icon-small" name="alert-circle-sharp" slot="end" (click)="presentPopover($event,'frequencyPerDay')"></ion-icon> -->
      </ion-item>

      <ion-item>
        <ion-label>Access</ion-label>
      <ion-select required class="myCustomSelect" slot="end" formControlName="access" interface="action-sheet"  okText="Okay" cancelText="Dismiss">
        <ion-select-option value="availableAccounts">Accounts</ion-select-option>
        <ion-select-option value="availableAccountsWithBalance" >Accounts, Balance</ion-select-option>
        <ion-select-option value="allPsd2" >Accounts, Balance, Transaction</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-button class= "margin" expand="full" shape="round" (click)="createConsent()" [disabled]="!form.valid">Proceed</ion-button>
    <ion-button class= "margin" expand="full" shape="round" fill="outline" (click)="resetForm()">Reset</ion-button>
    </form>
  </ion-list>
<!-- 
  <ion-fab edge vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="resetForm()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="createConsent()" [disabled]="!form.valid">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
